

.rowHover:hover .CardOverlay {
    background-color: rgba(240,0,0,.5)!important;
    
  }


  .column:hover .CardOverlay {
    background-color: rgba(240,0,0,.5)!important;

  }

  @media only screen and (min-width: 761px) {
    .position-md-absolute {
      position: absolute;
    }

    .color-md-white {

        color:white!important;
    }
  }


  .zoom:hover img {

    transform: scale(1.05); 
   
  }
